<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Title</title>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- JavaScript -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>
<body style="background-color: #e898a3">
<header th:insert="header.html :: nav"></header>
<main style="margin-top: 4%">
    <div style="margin: 20% 20% 20% 20%">
        <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        background: hsla(0,0%,100%,0.8);
        backdrop-filter: blur(30px);">
            <div class="col-md-7 col-lg-8" style="margin:5% 0 5% 15%">
                <h2 class="mb-3">Type</h2>
                <form class="needs-validation" novalidate th:object="${type}" th:action="@{/foradmin/edittype/{id} (id=${type.typeId})}" th:method="POST">
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="name" class="form-label">Title</label>
                            <input type="text" class="form-control" id="name" th:field="*{title}" name="name" required>
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                        <input type="hidden" th:field="*{typeId}">
                        <div class="col-12">
                            <br/>
                            <button type="submit" class="btn btn-secondary btn-block mb-4">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:insert="footer.html :: footer"></footer>
</body>
</html>