<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Event</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Attention</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this event? </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <form th:action="@{/organization/event/{id}/delete (id=${event.getEventId()})}" th:method="POST">
                <button type="submit" class="btn btn-danger">Yes</button>
                </form>
            </div>
        </div>
    </div>
</div>
<header th:insert="header.html :: nav"></header>
<main style="margin-top: 4%">
    <div style="position: absolute">
    <img th:src="@{${event.getPoster()}}" style="height: 350px; width: 1500px; position: fixed" />
    </div>
    <div style="
        margin-top: 300px;
        background: hsla(0,0%,100%,0.6);
        backdrop-filter: blur(30px);
        margin-left: 10%;
        margin-right: 10%;
        padding: 5% 10% 5% 10%;
        width: 80%;
        position: absolute;
        ">
    <h1 style="text-align: center" class="fw-light" th:text=" ${event.getTitle()}"></h1>
        <div class="row g-3">
            <div class="col-12">
        <p class="lead text-muted" style="text-align: center" th:text=" ${event.getDescription()}" ></p>
            </div>
                <div class="col-sm-6">
        <h5 class="fw-light">Date Of Event:</h5>
        <p class="lead text-muted" th:text=" ${event.getStringDate()}"></p>
            </div>
            <div class="col-sm-6">
        <h5 class="fw-light">Number Of Place:</h5>
        <p class="lead text-muted" th:text="${event.getUsers().size()}+'/'+ ${event.getNumberOfPlaces()}"></p>
            </div>

            <div class="col-12">
    <h5 class="fw-light">Types:</h5>
    <div >
        <p class="lead text-muted" th:each="type:${event.getTypes()}" th:text="${type.getTitle()}" ></p>
    </div>
            </div>
            <div class="col-12">
    <h5 class="fw-light">Organizers:</h5>
    <div th:each="organizer:${event.getEventOrganizers()}">
        <a class="lead text-muted" th:href="@{/allevents/{id}/organizationview (id = ${organizer.getOrganizerId()})}" th:text="${organizer.getTitle()}"></a>
    </div>
            </div>
    <div th:if="${user.isUserEvent(event)}" class="col-12" >
        <h5 class="fw-light">Registered for the event:</h5>
        <div th:each="resultusers:${event.getUsers()}">
            <p class="lead text-muted" th:text="${resultusers.getFirstName()} +' '+ ${resultusers.getLastName()}" style="text-decoration: none"></p>
        </div>
       <a th:href="@{/organization/event/{id}/edit (id = ${event.getEventId()})}">
          <button class="btn btn-outline-secondary" type="button">Edit</button>
       </a>
        <button class="btn btn-outline-danger" type="button" data-toggle="modal" data-target="#exampleModal">Delete</button>
        <br><br>
    </div>
            <div class="col-12">
    <form th:if="${user.findUserEvents(event) == false && event.getUsers().size()< event.getNumberOfPlaces() && event.dateCheak() && event.getIsActive()==1}" th:action="@{/allevents/event/{id}/gotoevent (id=${event.getEventId()})}" th:method="POST">
        <input  class="btn  btn-outline-secondary btn-lg" style="width: 100%" type="submit" value="Go!">
    </form>
            </div>
    <div class="lead text-muted" th:if="${user.findUserEvents(event)}">
        You visit this event
    </div>
    </div>
    </div>
</main>
   <!-- <footer th:insert="footer.html :: footer"></footer> -->
</body>
</html>